<div class="dlab-box portfolio-box m-b30">
  <div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img [src]="cardImage"
      alt="">
    <div class="overlay-bx">
      <div class="overlay-icon text-white">
        <h5>{{ title }}</h5>
        <p class="m-b10">{{ description }}</p>
        <a [href]="cardImage" class="mfp-link" title="Title Come Here"> <i
            class="ti-fullscreen icon-bx-xs"></i>
        </a>
        <a [href]="link" target="bank"><i class="ti-arrow-top-right icon-bx-xs"></i></a>
      </div>
    </div>
  </div>
</div>