<div class="full-section">
  <!-- inner page banner -->
  <div class="dlab-bnr-inr overlay-primary-dark contact-page" style="background-image:url(assets/images/background/bg2.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xs-4">
          <div class="row text-white">
            <div class="col-lg-12 col-md-6 m-b30 wow fadeIn" data-wow-delay="0.4s">
              <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                <div class="icon-content">
                  <h5 class="dlab-tilte">
                    <span class="icon-sm text-primary text-left"><i class="ti-location-pin"></i></span>
                    Company Address
                  </h5>
                  <p>demo address #8901 Marmora Road Chi Minh City, Vietnam </p>
                  <h6 class="m-b15 font-weight-400"><i class="ti-alarm-clock"></i> Office Hours</h6>
                  <p class="m-b0">Mon To Sat - 08.00-18.00</p>
                  <p>Sunday - Close</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 m-b30 wow fadeIn" data-wow-delay="0.6s">
              <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                <div class="icon-content">
                  <h5 class="dlab-tilte">
                    <span class="icon-sm text-primary text-left"><i class="ti-email"></i></span>
                    E-mail
                  </h5>
                  <p class="m-b0">info@example.com</p>
                  <p class="m-b0">sales@example.com</p>
                  <p class="m-b0">hr@example.com</p>
                  <p>support@example.com</p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6 m-b30 wow fadeIn" data-wow-delay="0.8s">
              <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                <div class="icon-content">
                  <h5 class="dlab-tilte">
                    <span class="icon-sm text-primary text-left"><i class="ti-mobile"></i></span>
                    Phone Numbers
                  </h5>
                  <p>+00 0800-123456</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-xs-8">
          <form class="inquiry-form wow fadeInUp dzForm" data-wow-delay="0.2s" action="script/contact.php">
            <div class="dzFormMsg"></div>
            <h3 class="box-title m-t0 m-b10">Let's Convert Your Idea into Reality <span class="bg-primary"></span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-user text-primary"></i></span>
                    <input name="dzName" type="text" required class="form-control" placeholder="First Name">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-mobile text-primary"></i></span>
                    <input name="dzOther[Phone]" type="text" required class="form-control" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-email text-primary"></i></span>
                    <input name="dzEmail" type="email" class="form-control" required placeholder="Your Email Id">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-check-box text-primary"></i></span>
                    <input name="dzOther[Subject]" type="text" required class="form-control" placeholder="Upload File">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-file text-primary"></i></span>
                    <input name="dzOther[Subject]" type="text" required class="form-control" placeholder="Upload File">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="ti-agenda text-primary"></i></span>
                    <textarea name="dzMessage" rows="4" class="form-control" required
                      placeholder="Tell us about your project or idea"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="input-group">
                    <div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN"
                      data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                    <input class="form-control d-none" style="display:none;" data-recaptcha="true" required
                      data-error="Please complete the Captcha">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <button name="submit" type="submit" value="Submit" class="site-button button-lg"> <span>Get A Free
                    Quote!</span> </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
</div>