<div class="page-content bg-white">
  <!-- inner page banner -->
  <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-primary bg-pt" style="background-image:url(assets/images/banner/bnr1.jpg);">
    <div class="container">
      <div class="dlab-bnr-inr-entry" *ngIf="aboutUsSections | async;let aboutUsSections">
        <h1 class="text-white">{{ aboutUsSections[0]?.title }}</h1>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
          <ul class="list-inline">
            <li><a routerLink="/home">Home</a></li>
            <li>{{ aboutUsSections[0]?.title }}</li>
          </ul>
        </div>
        <!-- Breadcrumb row END -->
      </div>
    </div>
  </div>
  <!-- inner page banner END -->
  <!-- contact area -->
  <div class="content-block">
    <!-- Our Awesome Services -->
    <div class="section-full bg-white content-inner" style="background-image:url(assets/images/background/bg1.png);">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-6 col-lg-6 col-md-12 col-sm-12">
              <app-tile *ngFor="let item of tiles | async" [icon]="item.icon" [title]="item.title" [description]="item.description" class="col-6 col-lg-6 col-md-6 col-sm-12"></app-tile>
            </div>
            <div class="col-6 col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.4s" *ngFor="let item of softBoxImages | async">
              <app-softbox-img [softImg]="item.softbox_img" ></app-softbox-img>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Awesome Services End -->
    <!-- About Us -->
    <div class="section-full ">
      <div class="container-fluid" >
        <app-services *ngFor="let item of services | async" [link]="item.link" [type]="item.type" [servicesImg]="item.service_img" [title]="item.title" [description]="item.description" [button]="item.button" ></app-services>
      </div>
    </div>
    <!-- About Us End -->
    <!-- About Agency -->
    <div class="section-full content-inner" style="background-image:url(assets/images/pattern/pic1.jpg);">
      <div class="container">
        <div class="section-head text-black text-center" *ngIf="aboutUsSections | async;let aboutUsSections">
          <h2 class="text-uppercase m-b10">{{ aboutUsSections[1]?.title }}</h2>
          <p>{{ aboutUsSections[1]?.description }}</p>
        </div>
        <div class="row text-center">
          <div *ngFor="let item of agencyCards | async" class="col-lg-4 col-md-4 col-sm-6 m-b30 wow fadeInUp" data-wow-delay="0.2s">
            <app-agency-card [cardImg]="item.cardimg" [title]="item.title" [description]="item.description"></app-agency-card>
          </div>
        </div>
      </div>
    </div>
    <!-- About Agency End -->
    <!-- Company Stats -->
    <div class="section-full content-inner overlay-primary bg-img-fix text-white"
      style="background-image:url(assets/images/background/bg1.jpg);">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div *ngFor="let item of stats | async" class="col-6 col-lg-3 col-md-6 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.2s">
              <app-stats [icon]="item.icon" [value]="item.value" [title]="item.title"></app-stats>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Company Stats END -->
    <!-- About Quotes -->
    <div class="section-full p-tb80">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center max-w600 m-auto" *ngIf="aboutUsSections | async;let aboutUsSections">
              <div class="m-b20"><i class="fa fa-quote-left font-45 text-primary"></i></div>
              <h4 class="text-uppercase font-weight-700 font-30">{{ aboutUsSections[2]?.title }}
              </h4>
              <a [href]="aboutUsSections[2]?.link " class="site-button radius-xl outline outline-2"><span class="p-lr10">{{ aboutUsSections[2]?.button }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Quotes End -->
    <!-- contact area END -->
  </div>
</div>
<!-- Content END-->