<div class="page-wraper">
  <div id="loading-area">
    <div class="la-anim-10"></div>
  </div>
  <!-- Error Page -->
  <div class="dlab-bnr-inr full-height overlay-black-dark" style="background-image:url(assets/images/banner/bnr1.jpg);">
    <div class="container">
      <div class="dlab-bnr-inr-entry align-m">
        <div class="row max-w700 dz_error-404 text-white m-auto">
          <div class="col-lg-4 m-tb30">
            <div class="bg-primary dz_error">
              404
            </div>
          </div>
          <div class="col-lg-8 m-b30">
            <h2 class="error-head">Something went wrong !</h2>
            <p class="font-16">We are sorry but it appears that the page you are looking for could not be found. We are
              working on it and we will get it fixed as soon as possible.</p>
            <p class="font-16">You can go back to the Main Page by clicking the button.</p>
            <a routerLink="/home" class="site-button">Go To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Error Page END -->
</div>