<form class="row text-white dezPlaceAni align-items-center dzSubscribe" action="script/mailchamp.php" method="post">
  <div class="col-lg-4  col-md-12">
    <h2 class="m-b0"><span class="font-weight-300">Subscribe to our</span><br /> Newsletter</h2>
  </div>
  <div class="col-lg-6 col-md-9 contact-form-bx">
    <div class="form-group">
      <div class="input-group">
        <label>Your Email Address</label>
        <input name="dzEmail" required="required" type="email" class="form-control" placeholder="">
        <div class="dzSubscribeMsg"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3">
    <button name="submit" value="Submit" type="submit"
      class="site-button button-md radius-xl white btn-block">Submit</button>
  </div>
</form>