<div class="page-content bg-white rubik">
	<!-- Slider Banner -->
	<app-parallax-header *ngFor="let item of headerSection | async" [header1]="item.header1" [header2]="item.header2"
		[button1]="item.button1" [button2]="item.button2" [link1]="item.link1" [link2]="item.link2">
	</app-parallax-header>
	<!-- Slider Banner -->
	<!-- contact area -->
	<div class="content-block">
		<!-- About Us -->
		<div class="section-full content-inner about-progress">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-6" *ngIf="homeSections | async;let homeSections">
						<h2 class="text-uppercase"><span
								class="font-weight-300">{{ homeSections[0]?.title }}</span><br />{{ homeSections[0]?.boldtitle }}
						</h2>
						<app-skill-table *ngFor="let item of skills | async" [progress]="item.progress"
							[title]="item.title"></app-skill-table>
						<h3 class="m-b10"> </h3>
						<p>{{ homeSections[0]?.description }}</p>
					</div>
					<div class="col-md-12 col-lg-6 d-flex" *ngIf="homeSections | async;let homeSections">
						<app-skill-table-img [tableImage]="homeSections[0]?.image"></app-skill-table-img>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us End -->
		<!-- Tabs End -->
		<div class="section-full content-inner-2 tab-bx br-top">
			<div class="container">
				<app-tab-container>
					<app-tab *ngFor="let item of tabs | async" [icon]="item.icon" [title]="item.title">
						{{ item.description }}</app-tab>
				</app-tab-container>
			</div>
		</div>
		<!-- Testimonial End -->
		<!-- Testimonial -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary gradient testimonial-curv-bx"
			style="background-image:url(assets/images/background/bg1.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="section-head text-center" *ngIf="homeSections | async;let homeSections">
							<h2 class="text-uppercase"><span class="font-weight-300">{{ homeSections[1]?.title }}</span>
								<br />{{ homeSections[1]?.boldtitle }}</h2>
							<h5 class="font-weight-300 text-gray-dark">{{ homeSections[1]?.description }}.</h5>
						</div>
						<app-slider>
							<app-card-slider-item *ngFor="let item of testimonials | async"
								[thumbnail]="item.image" [name]="item.title"
								[description]="item.description" [position]="item.position"></app-card-slider-item>
						</app-slider>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
		<!-- Pricing Table -->
		<div class="section-full content-inner bg-gray pricing-bx">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head text-center" *ngIf="homeSections | async;let homeSections">
							<h2 class="text-uppercase "><span
									class="font-weight-300">{{ homeSections[2]?.title }}</span>
								<br />{{ homeSections[2]?.boldtitle }}</h2>
							<h5 class="font-weight-400 text-gray-dark max-w800 m-auto">
								{{ homeSections[2]?.description }}.</h5>
						</div>
						<div>
							<!-- Pricing table-1 Columns 3 with gap -->
							<app-card2 class="col-lg-4 col-md-4"
								*ngFor="let item of pricingTable | async; let index = index" [title]="item.title"
								[active]="index == 1"
								[alignment]="index  == 0 ? 'left': index == 2 ? 'right': undefined"
								[price]="'$' + item.price " [checks]="item.checks" [icon]="item.icon" [link]="item.link">
							</app-card2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Table End -->
		<!-- Pricing Table -->
		<div class="section-full content-inner bg-white workspace-bx mfp-gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head text-center" *ngIf="homeSections | async;let homeSections">
							<h2 class="text-uppercase "><span
									class="font-weight-300">{{ homeSections[3]?.title }}</span>
								<br />{{ homeSections[3]?.boldtitle }}</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div *ngFor="let item of workspace_cards | async" class="col-lg-4 col-md-6 col-sm-6">
						<app-workspace-card [cardImage]="item.image" [title]="item.title" [description]="item.description" [link]="item.link"></app-workspace-card>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Table End -->
		<!-- Testimonial -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary gradient subscribe-bx"
			style="background-image:url(assets/images/background/bg1.jpg);">
			<div class="container">
				<app-newsletter></app-newsletter>
			</div>
		</div>
		<!-- Testimonial End -->
		<div class="row">
		</div>
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->