<div class="page-content bg-white rubik">
	<!-- Slider Banner -->
	<div class="rev-slider-full">
		<div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="gravitydesign1"
			data-source="gallery" style="background:#1d2931;padding:0px;">
			<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
			<div id="rev_slider_14_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
				<ul>
					<!-- SLIDE  -->
					<li data-index="rs-100" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
						data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
						data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
						data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
						data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="assets/images/main-slider/rev-slider/transparent.png" data-bgcolor='#1d2931'
							style='background:#1d2931' alt="" data-bgposition="center center" data-bgfit="cover"
							data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-shape tp-shapewrapper tp-overlay-pera banner-curv"
							id="slide-100-layer-1" data-x="['center','center','center','center']"
							data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
							data-voffset="['0','0','0','0']" data-width="full" data-height="full"
							data-whitespace="nowrap" data-type="shape" data-basealign="slide"
							data-responsive_offset="on" data-responsive="off"
							data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 6;">
						</div>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption   tp-resizeme" id="slide-100-layer-2"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
							data-width="full-proportional" data-height="full-proportional" data-whitespace="nowrap"
							data-type="image" data-basealign="slide" data-responsive_offset="on"
							data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 5;"><img src="assets/images/main-slider/slide6.jpg" alt=""
								data-ww="['full-proportional','full-proportional','full-proportional','full-proportional']"
								data-hh="['full-proportional','full-proportional','full-proportional','full-proportional']"
								width="1920" height="1280" data-no-retina>
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-100-layer-3"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['550','550','550','450']"
							data-fontsize="['55','55','40','40']" data-lineheight="['70','70','70','70']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
							data-responsive_offset="on"
							data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"sX:1.1;sY:1.1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap; font-size: 55px; line-height: 70px; font-weight: 700; color: rgba(255,255,255,1);font-family: 'Rubik', sans-serif;">
							<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px"
								data-origin="50% 50%">THE</div>
						</div>
						<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-100-layer-4"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['330','330','330','250']"
							data-fontsize="['205','205','160','100']" data-lineheight="['240','240','240','240']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
							data-responsive_offset="on"
							data-frames='[{"delay":1300,"speed":2000,"frame":"0","from":"sX:2;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 6; white-space: nowrap; font-size: 205px; line-height: 240px; font-weight: 700; color: rgba(255,255,255,1);font-family: 'Rubik', sans-serif;">
							<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px"
								data-origin="50% 50%">AGENCY</div>
						</div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-1" id="slide-100-layer-5"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-100','-100','-100','-100']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":850,"speed":2000,"frame":"0","from":"sX:1.1;sY:1.1;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 10;">
							<div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/box-bg1.png" alt=""
									data-ww="['682px','682px','682px','430px']"
									data-hh="['842px','842px','842px','531px']" width="407" height="200" data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-100-layer-6"
							data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-80','-80','-80','-80']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:100px;rZ:15deg;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 11;">
							<div class="rs-looped rs-wave" data-speed="10" data-angle="0" data-radius="5px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/box-bg2.png" alt=""
									data-ww="['529px','529px','529px','300px']"
									data-hh="['742px','742px','742px','420px']" width="1025" height="500"
									data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption" target="_blank" id="slide-100-layer-7"
							data-x="['center','center','center','center']" data-hoffset="['-105','-105','-90','-105']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['260','260','260','200']"
							data-fontsize="['16','16','16','16']" data-lineheight="['20','20','20','20']"
							data-width="['none','none','none','320']" data-height="none"
							data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text"
							data-responsive_offset="on"
							data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:100px;rZ:15deg;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 12; font-size: 16px;"><a href="#" class="site-button white btn-icon">Read
								more <i class="fa fa-angle-double-right"></i></a></div>
						<!-- LAYER NR. 8 -->
						<div class="tp-caption" target="_blank" id="slide-100-layer-8"
							data-x="['center','center','center','center']" data-hoffset="['105','105','90','105']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['260','260','260','200']"
							data-fontsize="['16','16','16','16']" data-lineheight="['20','20','20','20']"
							data-width="['none','none','none','320']" data-height="none"
							data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text"
							data-responsive_offset="on"
							data-frames='[{"delay":250,"speed":5000,"frame":"0","from":"y:100px;rZ:15deg;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 12; font-size: 16px;"><a href="https://www.youtube.com/watch?v=xqUM6DayZcw"
								title="Title Come Here" class="site-button white btn-icon popup-youtube video">Watch
								Video <i class="fa fa-angle-double-right "></i></a></div>

						<!-- LAYER NR. 9 -->
						<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" id="slide-100-layer-9"
							data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['221','201','301','300']"
							data-width="['390','390','390','180']" data-height="2" data-whitespace="nowrap"
							data-type="shape" data-responsive_offset="on"
							data-frames='[{"delay":"bytrigger","speed":500,"frame":"0","from":"sX:0;opacity:1;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"frame":"999","to":"sX:0;opacity:1;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							data-lasttriggerstate="reset" style="z-index: 13;background-color:rgba(255,255,255,1);">
						</div>

						<!-- LAYER NR. 10 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-100-layer-10"
							data-x="['center','center','center','center']" data-hoffset="['-531','-531','-348','-204']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['350','350','421','431']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":250,"speed":3000,"frame":"0","from":"y:150px;rZ:90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 14;">
							<div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake2.png" alt=""
									data-ww="['84px','84px','84px','84px']" data-hh="['84px','84px','84px','84px']"
									width="29" height="21" data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 11 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-100-layer-11"
							data-x="['center','center','center','center']" data-hoffset="['493','493','326','194']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['399','399','408','438']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":350,"speed":3000,"frame":"0","from":"y:150px;rZ:-90deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 15;">
							<div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="3px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake5.png" alt=""
									data-ww="['41px','41px','41px','41px']" data-hh="['41px','41px','41px','41px']"
									width="41" height="41" data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 12 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-5" id="slide-100-layer-12"
							data-x="['center','center','center','center']" data-hoffset="['350','350','245','141']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['338','338','331','348']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":450,"speed":3000,"frame":"0","from":"y:150px;rZ:45deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 16;">
							<div class="rs-looped rs-wave" data-speed="3" data-angle="0" data-radius="2px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake4.png" alt=""
									data-ww="['76px','76px','76px','76px']" data-hh="['78px','78px','78px','78px']"
									width="76" height="86" data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 13 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-5" id="slide-100-layer-13"
							data-x="['center','center','center','center']" data-hoffset="['-455','-455','-321','-214']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['320','320','357','381']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":550,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 17;">
							<div class="rs-looped rs-wave" data-speed="5" data-angle="0" data-radius="4px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake3.png" alt=""
									data-ww="['27px','27px','27px','27px']" data-hh="['26px','26px','26px','26px']"
									width="27" height="26" data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 14 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-100-layer-14"
							data-x="['center','center','center','center']" data-hoffset="['-88','-88','-88','-37']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['382','382','382','399']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":650,"speed":3000,"frame":"0","from":"y:150px;rZ:125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 18;">
							<div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="3px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake1.png" alt=""
									data-ww="['62px','62px','62px','13px']" data-hh="62px" width="25" height="24"
									data-no-retina>
							</div>
						</div>

						<!-- LAYER NR. 15 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-100-layer-15"
							data-x="['center','center','center','center']" data-hoffset="['-232','-232','-232','-170']"
							data-y="['bottom','bottom','bottom','bottom']" data-voffset="['300','300','300','366']"
							data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
							data-responsive_offset="on"
							data-frames='[{"delay":750,"speed":3000,"frame":"0","from":"y:150px;rZ:-125deg;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
							style="z-index: 19;">
							<div class="rs-looped rs-wave" data-speed="7" data-angle="0" data-radius="6px"
								data-origin="50% 50%">
								<img src="assets/images/main-slider/rev-slider/flake3.png" alt=""
									data-ww="['80px','80px','80px','80px']" data-hh="['80px','80px','80px','80px']"
									width="80" height="80" data-no-retina>
							</div>
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
			</div>
		</div><!-- END REVOLUTION SLIDER -->
	</div>
	<!-- Slider Banner -->
	<!-- contact area -->
	<div class="content-block">
		<!-- About Us -->
		<div class="section-full content-inner about-progress">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<h2 class="text-uppercase"><span class="font-weight-300">Give the </span><br />green light</h2>

						<div class="progress-section">
							<div class="progress-bx">
								<h4>Hard Work</h4>
								<div class="count-box">70%</div>
								<div class="progress">
									<div class="progress-bar wow fadeInLeft" data-wow-delay="1s" style="width:70%"
										role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div>
							</div>
							<div class="progress-bx">
								<h4>Projects Delivery</h4>
								<div class="count-box">80%</div>
								<div class="progress">
									<div class="progress-bar wow fadeInLeft" data-wow-delay="1s" style="width:80%"
										role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div>
							</div>
							<div class="progress-bx">
								<h4>Customers Love</h4>
								<div class="count-box">90%</div>
								<div class="progress">
									<div class="progress-bar wow fadeInLeft" data-wow-delay="1s" style="width:90%"
										role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									</div>
								</div>
							</div>
						</div>
						<h3 class="m-b10">The Project</h3>
						<p>It is a long established fact that a reader will be distracted by the readable content of a
							page when looking at its layout. The point of using Lorem Ipsum is that it has a
							more-or-less normal distribution of letters.</p>
					</div>
					<div class="col-md-12 col-lg-6 d-flex ">
						<div class="img-half-bx align-items-stretch">
							<img src="assets/images/about/pic9.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us End -->
		<!-- Tabs End -->
		<div class="section-full content-inner-2 tab-bx br-top">
			<div class="container">
				<div class="">
					<div class="dez-tabs">
						<div class="m-auto text-center tab-market">
							<ul class="nav nav-tabs">
								<li><a data-toggle="tab" href="#web-design" class=""><i
											class="ti-ruler-pencil"></i><span class="title-head">Web Design</span></a>
								</li>
								<li><a data-toggle="tab" href="#web-development" class=""><i
											class="ti-desktop"></i><span class="title-head">Web Development</span></a>
								</li>
								<li><a data-toggle="tab" href="#mobile-app" class="active show"><i
											class="ti-mobile"></i><span class="title-head">Mobile
											Applications</span></a></li>
								<li><a data-toggle="tab" href="#internet-marketing" class=""><i
											class="ti-bar-chart"></i><span class="title-head">Internet
											marketing</span></a></li>
							</ul>
						</div>
						<div class="tab-content m-t50 text-white">
							<div id="web-design" class="tab-pane fade">
								<div class="row">
									<div class="col-lg-8 m-b30">
										<div class="box">
											<h3 class="font-40"><span class="font-weight-300">Make business with
													us</span> & become beautiful</h3>
											<p>It is a long established fact that a reader will be distracted by the
												readable content of a page when looking at its layout. The point of
												using Lorem Ipsum is that it has a more-or-less normal distribution of
												letters, as opposed to using 'Content here, content here', making it
												look like readable English. Many desktop publishing packages and web
												page editors now use Lorem Ipsum as their default model text</p>
											<a href="#" class="site-button radius-xl button-md">Read More</a>
										</div>
									</div>
									<div class="col-lg-4">
										<img src="assets/images/about/pic4.jpg" class="radius-sm" alt="" />
									</div>
								</div>
							</div>
							<div id="web-development" class="tab-pane fade">
								<div class="row">
									<div class="col-lg-4 m-b30">
										<img src="assets/images/about/pic4.jpg" class="radius-sm" alt="" />
									</div>
									<div class="col-lg-8">
										<div class="box">
											<h3 class="font-40"><span class="font-weight-300">Make business with
													us</span> & become beautiful</h3>
											<p>It is a long established fact that a reader will be distracted by the
												readable content of a page when looking at its layout. The point of
												using Lorem Ipsum is that it has a more-or-less normal distribution of
												letters, as opposed to using 'Content here, content here', making it
												look like readable English. Many desktop publishing packages and web
												page editors now use Lorem Ipsum as their default model text</p>
											<a href="#" class="site-button radius-xl button-md">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div id="mobile-app" class="tab-pane active show fade">
								<div class="row">
									<div class="col-lg-8 m-b30">
										<div class="box">
											<h3 class="font-40"><span class="font-weight-300">Make business with
													us</span> & become beautiful</h3>
											<p>It is a long established fact that a reader will be distracted by the
												readable content of a page when looking at its layout. The point of
												using Lorem Ipsum is that it has a more-or-less normal distribution of
												letters, as opposed to using 'Content here, content here', making it
												look like readable English. Many desktop publishing packages and web
												page editors now use Lorem Ipsum as their default model text</p>
											<a href="#" class="site-button radius-xl button-md">Read More</a>
										</div>
									</div>
									<div class="col-lg-4">
										<img src="assets/images/about/pic4.jpg" class="radius-sm" alt="" />
									</div>
								</div>
							</div>
							<div id="internet-marketing" class="tab-pane fade">
								<div class="row">
									<div class="col-lg-4 m-b30">
										<img src="assets/images/about/pic4.jpg" class="radius-sm" alt="" />
									</div>
									<div class="col-lg-8">
										<div class="box">
											<h3 class="font-40"><span class="font-weight-300">Make business with
													us</span> & become beautiful</h3>
											<p>It is a long established fact that a reader will be distracted by the
												readable content of a page when looking at its layout. The point of
												using Lorem Ipsum is that it has a more-or-less normal distribution of
												letters, as opposed to using 'Content here, content here', making it
												look like readable English. Many desktop publishing packages and web
												page editors now use Lorem Ipsum as their default model text</p>
											<a href="#" class="site-button radius-xl button-md">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
		<!-- Testimonial -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary gradient testimonial-curv-bx"
			style="background-image:url(assets/images/background/bg1.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="section-head text-center">
							<h2 class="text-uppercase"><span class="font-weight-300">Happy customers</span> <br /> Our
								Reviews</h2>
							<h5 class="font-weight-300 text-gray-dark">It is a long established fact that a reader will
								be distracted by the readable content of a page when looking at its layout. The point of
								using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</h5>
						</div>
						<div
							class="testimonial-two-dots-bx owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-dots-black-full btn-black owl-loaded owl-drag">
							<div class="item">
								<div class="testimonial-9">
									<div class="testimonial-pic radius">
										<img src="assets/images/testimonials/pic1.jpg" alt="" width="100" height="100">
									</div>
									<div class="testimonial-detail">
										<strong class="testimonial-name">David Matin</strong>
										<span class="testimonial-position">Client Form IBM</span>
									</div>
									<div class="testimonial-text">
										<p>It is a long established fact that a reader will be distracted by the
											readable content of a page when looking at its layout. The point of using
											Lorem Ipsum is that it has a more-or-less normal distribution of letters.It
											is a long established fact that a reader will be distracted.</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-9">
									<div class="testimonial-pic radius">
										<img src="assets/images/testimonials/pic1.jpg" alt="" width="100" height="100">
									</div>
									<div class="testimonial-detail">
										<strong class="testimonial-name">David Matin</strong>
										<span class="testimonial-position">Client Form IBM</span>
									</div>
									<div class="testimonial-text">
										<p>It is a long established fact that a reader will be distracted by the
											readable content of a page when looking at its layout. The point of using
											Lorem Ipsum is that it has a more-or-less normal distribution of letters.It
											is a long established fact that a reader will be distracted.</p>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-9">
									<div class="testimonial-pic radius">
										<img src="assets/images/testimonials/pic1.jpg" alt="" width="100" height="100">
									</div>
									<div class="testimonial-detail">
										<strong class="testimonial-name">David Matin</strong>
										<span class="testimonial-position">Client Form IBM</span>
									</div>
									<div class="testimonial-text">
										<p>It is a long established fact that a reader will be distracted by the
											readable content of a page when looking at its layout. The point of using
											Lorem Ipsum is that it has a more-or-less normal distribution of letters.It
											is a long established fact that a reader will be distracted.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->
		<!-- Pricing Table -->
		<div class="section-full content-inner bg-gray pricing-bx">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head text-center">
							<h2 class="text-uppercase "><span class="font-weight-300">Check our opportunities</span>
								<br /> Start Pre-ICO & Get a Reward</h2>
							<h5 class="font-weight-400 text-gray-dark max-w800 m-auto">It is a long established fact
								that a reader will be distracted by the readable content of a page when looking at its
								layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
								of letters.</h5>
						</div>
						<!-- Pricing table-1 Columns 3 with gap -->
						<div class="section-content box-sort-in button-example m-t80">
							<div class="pricingtable-row">
								<div class="row max-w1000 m-auto">
									<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
										<div class="pricingtable-wrapper style1 left">
											<div class="pricingtable-inner">
												<div class="pricingtable-price">
													<div class="pricingtable-icon"><i class="flaticon-rocket-ship"></i>
													</div>
													<h4 class="font-weight-300 m-t10 m-b0">Starter</h4>
													<span class="pricingtable-bx text-primary">$25</span> <span
														class="pricingtable-type">Par Month</span>
												</div>
												<ul class="pricingtable-features">
													<li><i class="fa fa-check text-primary"></i> Full Responsive </li>
													<li><i class="fa fa-check text-primary"></i> Multi color theme</li>
													<li><i class="fa fa-check text-primary"></i> With Bootstrap</li>
													<li><i class="fa fa-check text-primary"></i> Easy to customize</li>
													<li><i class="fa fa-check text-primary"></i> Many Sortcodes</li>
												</ul>
												<div class="m-t20">
													<a href="#"
														class="site-button outline outline-2 radius-xl button-md">Sign
														Up</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
										<div class="pricingtable-wrapper style1 active">
											<div class="pricingtable-inner">
												<div class="pricingtable-price">
													<div class="pricingtable-icon"><i class="flaticon-users"></i></div>
													<h4 class="font-weight-300 m-t10 m-b0">Professional</h4>
													<span class="pricingtable-bx text-primary">$50</span> <span
														class="pricingtable-type">Par Month</span>
												</div>
												<ul class="pricingtable-features">
													<li><i class="fa fa-check text-primary"></i> Full Responsive </li>
													<li><i class="fa fa-check text-primary"></i> Multi color theme</li>
													<li><i class="fa fa-check text-primary"></i> With Bootstrap</li>
													<li><i class="fa fa-check text-primary"></i> Easy to customize</li>
													<li><i class="fa fa-check text-primary"></i> Many Sortcodes</li>
												</ul>
												<div class="m-t20 m-b5">
													<a href="#"
														class="site-button white outline outline-2 radius-xl button-md">Sign
														Up</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 col-lg-4 p-lr0">
										<div class="pricingtable-wrapper style1 right">
											<div class="pricingtable-inner">
												<div class="pricingtable-price">
													<div class="pricingtable-icon"><i class="flaticon-bar-chart"></i>
													</div>
													<h4 class="font-weight-300 m-t10 m-b0">Enterprise</h4>
													<span class="pricingtable-bx text-primary">$75</span> <span
														class="pricingtable-type">Par Month</span>
												</div>
												<ul class="pricingtable-features">
													<li><i class="fa fa-check text-primary"></i> Full Responsive </li>
													<li><i class="fa fa-check text-primary"></i> Multi color theme</li>
													<li><i class="fa fa-check text-primary"></i> With Bootstrap</li>
													<li><i class="fa fa-check text-primary"></i> Easy to customize</li>
													<li><i class="fa fa-check text-primary"></i> Many Sortcodes</li>
												</ul>
												<div class="m-t20">
													<a href="#"
														class="site-button outline outline-2 radius-xl button-md">Sign
														Up</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Table End -->
		<!-- Pricing Table -->
		<div class="section-full content-inner bg-white workspace-bx mfp-gallery">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-head text-center">
							<h2 class="text-uppercase "><span class="font-weight-300">Check our space</span> <br />Our
								Workspace</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="dlab-box portfolio-box m-b30">
							<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
									src="assets/images/gallery/pic10.jpg" alt="">
								<div class="overlay-bx">
									<div class="overlay-icon text-white">
										<h5>Website Name</h5>
										<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply random
											text. It has roots</p>
										<a href="assets/images/gallery/pic10.jpg" class="mfp-link"
											title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i> </a>
										<a href="https://www.google.com/" target="bank"><i
												class="ti-arrow-top-right icon-bx-xs"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="dlab-box portfolio-box m-b30">
									<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
											src="assets/images/gallery/pic11.jpg" alt="">
										<div class="overlay-bx">
											<div class="overlay-icon text-white">
												<h5>Website Name</h5>
												<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply
													random text. It has roots</p>
												<a href="assets/images/gallery/pic11.jpg" class="mfp-link"
													title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i>
												</a>
												<a href="https://www.google.com/" target="bank"><i
														class="ti-arrow-top-right icon-bx-xs"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="dlab-box portfolio-box m-b30">
									<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
											src="assets/images/gallery/pic12.jpg" alt="">
										<div class="overlay-bx">
											<div class="overlay-icon text-white">
												<h5>Website Name</h5>
												<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply
													random text. It has roots</p>
												<a href="assets/images/gallery/pic12.jpg" class="mfp-link"
													title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i>
												</a>
												<a href="https://www.google.com/" target="bank"><i
														class="ti-arrow-top-right icon-bx-xs"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="dlab-box portfolio-box m-b30">
									<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
											src="assets/images/gallery/pic13.jpg" alt="">
										<div class="overlay-bx">
											<div class="overlay-icon text-white">
												<h5>Website Name</h5>
												<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply
													random text. It has roots</p>
												<a href="assets/images/gallery/pic13.jpg" class="mfp-link"
													title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i>
												</a>
												<a href="https://www.google.com/" target="bank"><i
														class="ti-arrow-top-right icon-bx-xs"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="dlab-box portfolio-box m-b30">
							<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
									src="assets/images/gallery/pic14.jpg" alt="">
								<div class="overlay-bx">
									<div class="overlay-icon text-white">
										<h5>Website Name</h5>
										<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply random
											text. It has roots</p>
										<a href="assets/images/gallery/pic14.jpg" class="mfp-link"
											title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i> </a>
										<a href="https://www.google.com/" target="bank"><i
												class="ti-arrow-top-right icon-bx-xs"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="dlab-box portfolio-box m-b30">
							<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
									src="assets/images/gallery/pic16.jpg" alt="">
								<div class="overlay-bx">
									<div class="overlay-icon text-white">
										<h5>Website Name</h5>
										<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply random
											text. It has roots</p>
										<a href="assets/images/gallery/pic16.jpg" class="mfp-link"
											title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i> </a>
										<a href="https://www.google.com/" target="bank"><i
												class="ti-arrow-top-right icon-bx-xs"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="dlab-box portfolio-box m-b30">
							<div class="dlab-media dlab-img-effect dlab-img-overlay1" data-tilt=""> <img
									src="assets/images/gallery/pic15.jpg" alt="">
								<div class="overlay-bx">
									<div class="overlay-icon text-white">
										<h5>Website Name</h5>
										<p class="m-b10">Contrary to popular belief, Lorem Ipsum is not simply random
											text. It has roots</p>
										<a href="assets/images/gallery/pic15.jpg" class="mfp-link"
											title="Title Come Here"> <i class="ti-fullscreen icon-bx-xs"></i> </a>
										<a href="https://www.google.com/" target="bank"><i
												class="ti-arrow-top-right icon-bx-xs"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pricing Table End -->
		<!-- Testimonial -->
		<div class="section-full content-inner-2 bg-img-fix overlay-primary gradient subscribe-bx"
			style="background-image:url(assets/images/background/bg1.jpg);">
			<div class="container">
				<form class="row text-white dezPlaceAni align-items-center dzSubscribe" action="script/mailchamp.php"
					method="post">

					<div class="col-lg-4  col-md-12">
						<h2 class="m-b0"><span class="font-weight-300">Subscribe to our</span><br /> Newsletter</h2>
					</div>
					<div class="col-lg-6 col-md-9 contact-form-bx">
						<div class="form-group">
							<div class="input-group">
								<label>Your Email Address</label>
								<input name="dzEmail" required="required" type="email" class="form-control"
									placeholder="">
								<div class="dzSubscribeMsg"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						<button name="submit" value="Submit" type="submit"
							class="site-button button-md radius-xl white btn-block">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<!-- Testimonial End -->
		<!-- Contact Us -->
		<div class="section-full content-inner-2 bg-white contact-form-bx"
			style="background-image:url(assets/images/background/bg16.jpg); background-size:100%;">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="text-uppercase"><span class="font-weight-300">Contact </span> us</h2>
				</div>
				<div class="dezPlaceAni">
					<div class="dzFormMsg"></div>
					<form method="post" class="" action="">
						<input type="hidden" value="Contact" name="dzToDo">
						<div class="row">
							<div class="col-lg-4 col-md-5 col-sm-12">
								<div class="form-group">
									<div class="input-group">
										<label>Your Name</label>
										<input name="dzName" type="text" required class="form-control" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<label>Your Email Address</label>
										<input name="dzEmail" type="email" class="form-control" required placeholder="">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<label>Phone</label>
										<input name="dzOther[Phone]" type="text" required class="form-control"
											placeholder="">
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-7 col-sm-12">
								<div class="form-group">
									<div class="input-group">
										<label>Your Message...</label>
										<textarea name="dzMessage" rows="4" class="form-control" required
											placeholder=""></textarea>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 text-center">
								<button name="submit" type="submit" value="Submit"
									class="site-button outline outline-2 radius-xl button-md m-t10">Submit Now</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Contact Us End -->
	</div>
	<!-- contact area END -->
</div>
<!-- Content END-->